body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/fondof_examen.jpg');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 420px;
    height: 600px;
    background-color: #f5f5f5;
    border-radius: 25px;
    text-align: center;
    position: relative;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.image-container {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #e9dfd6;
    object-fit: cover;
}

.text-container {
    margin-top: 100px;
    padding: 30px;
}

h1 {
    margin-top: 0;
    font-size: 30px;
    color: #444;
}

h3 {
    color: #f48b32;
    font-weight: 500;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.icons i {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    background-color: #f48b32;
    color: white;
}

button {
    background-color: #df812f;
    border: none;
    color: white;
    height: 45px;
    font-size: 16px;
    width: 180px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e06f1e;
}
