body{
    margin:0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/fondo.jpg');
}

.card{
    width: 500px;
    height: 600px;
    margin:auto;
    background-color: white;
}

.image-container{
    width:100%;
    height: 45%;
}

img{
    width:100%;
    height: 55%;
}

.text-container{
    background-color: white;
    height: 45%;
    padding: 25px 25px;
}

h1{
    margin-top: 0;
    text-align: center;
}

hr{
    border-bottom: dotted black 1px;
    color:grey;
}

p{
    color:gray;
}

button{
    margin:auto;
    display: block;
    background-color: red;
    border: none;
    color:white;
    height: 40px;
    font-size: 14px;
    width: 150px;
}