* {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-size: 18px;
    color: #333333;
}

.especial {
    background-color: #add8e6; 
}

#importante {
    background-color: red;
    color: white;
}

input[placeholder] {
    border: 2px solid blue;
    padding: 5px;
}

input[type="password"] {
    background-color: #d3d3d3;
}
